@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
$green-color: rgb(142,194,31);
a {
  color: none;
  text-decoration: none;
}
body {
  font: HiraKakuProN;
  background-color: #fff;
}
.border-brown {
  border: 1px solid rgb(194,173,163);
}
.wrap-container {
  width: 1200px;
  margin: 0 auto;
}
.container {
  width: 960px;
}
header {
  border-top: solid 10px rgb(199,0,11);
  background: url("../image/background.png") no-repeat;
  /*background-size: 200px 80px;*/
  background-position: 100px 0;
  margin-bottom: 14px;
  img {
    width: 100px;
    height: 50px;
    margin-top: 16px;
  }
  p {
    font-size: 11px;
    margin-top: 14px;
    float: right;
  }
  .right-header {
    width: 680px;
    height: 34px;
    margin-top: -26px;
    float: right;
  }
  .epark-search-top {
    width: 456px;
    float: left;
    /*margin-top: 34px;*/
    input {
      @extend .border-brown;
      width: 398px;
      height: 32px;
      @include border-radius(5px);
      &[placeholder] {
        padding-left: 5px;
        color: rgb(160,160,160);
        font-size: 14px;
      }
    }
    .btn-search {
      display: inline-block;
      width: 50px;
      height: 32px;
      padding: 11px;
      @include border-radius(8px);
      border: none;
      background: rgb(203,20,26) url("../image/search-icon.png") center no-repeat;
    }
  }
  ul {
    list-style-type: none;
    float: right;
    padding-left: 18px; 
    margin-bottom: 0;
    li {
      display: inline-block;
      width: 94px;
      height: 32px;
      line-height: 32px;
      background-color: $green-color;
      text-align: right;
      padding-right: 5px;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
      @include border-radius(5px);
      span {
        display: inline-block;
        position: relative;
        color: #fff;
        &.login:before{
          content: url("../image/login.png");
          position: absolute;
          left: -26px;
          line-height: 40px;
        };
        &.plug:before {
          content: "\f067";
          font-family: FontAwesome;
          display: inline-block;
          text-align: center;
          line-height: 17px;
          position: absolute;
          left: -26px;
          top: 6px;
          @include border-radius(50%);
          border: 2px solid #fff;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
section {
  padding-top: 14px;
  ul {
    list-style: none;
    padding-left: 0px;
    li {
      display: inline-block;
      a {
        display: inline-block;
        color: rgb(192,171,155);

      }
      a:hover{
        text-decoration: none;
        color: rgb(202,191,195);        
      }
      
      &:after{
        content: ">";
        color: rgb(122,122,122);
      };
      &:last-child a{
        color: rgb(122,122,122);
      };
      &:last-child:after{
        content: '';
      };
    }
  }
  .epark-content {
    border-top: 2px solid rgb(68,68,68);
    .border-bottom-dotted {
      border-bottom: 1px dotted rgb(153,153,153);
    };
    table.epark-table {
      width: 930px;
    }
    .spark-input {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 0;
      span:first-child {
        color: red;
        padding-left: 16px;
      };
      span:last-child {
        color: rgb(116,116,116);
        font-size: 11px;        
      }
    }
    tr {
      color: #444;
      th:first-child{
        width: 230px;
        background-color: rgb(243,239,233);
        padding:24px 0 24px 12px;  
      };
      th:last-child {
        padding: 24px 0 24px 30px;
      };
      td:first-child {
        width: 230px;
        background-color: rgb(243,239,233);
        padding-left: 12px;
      }
      td {
        input[type="radio"] {
          display: none;
        }
        input {
          margin: 0;
          &[type="checkbox"] {
            display: none;
          }
          &[type="text"] {
            border: 1px solid #c2ada3;
            @include border-radius(3px);
            height: 32px;
          }
        }
        label {
          color: #444;
          font-weight: normal;
          position: relative;
          margin: 0;
          &[for="member-1"] {
            padding-left: 58px;
            padding-top: 24px;
          };
          &[for="member-2"] {
            padding-left: 58px;
            padding-top: 14px;
          }
          &.radio-green:before {
            content: '';
            position: absolute;
            display: inline-block;
            width: 18px;
            height: 19px;
            background-color: #d9d9d9;
            border-radius: 50%;
            margin-left: -28px;
          };
          &.checkbox-green:before {
            content: "";
            position: absolute;
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 3px;
            left: -32px;
            background-color: #d9d9d9;
          }
        }
        input[type="checkbox"]:checked + label.checkbox-green:before {
          content: "\f00c";
          font-family: FontAwesome;
          color: #fff;
          line-height: 22px;
          text-align: center;
          background-color: $green-color;

        }
        input[type="radio"]:checked + label.radio-green:before {
          background-color: $green-color;
        }
      }
      &:nth-of-type(2) {
        input[type="text"] {
        margin: 5px 0 22px 30px;
        padding-left: 5px;
        width: 526px;}
        span {
          color: red;
        }
      };
      &:nth-of-type(3) label {
        margin-left: 30px;
        &:nth-child(1) ~ input[type="text"] {
          width: 194px;
          padding-left: 5px;
          &:not(:nth-of-type(2)) {
            margin: 12px 16px 0 72px;
          }
        }
        &:nth-of-type(2) ~ input[type="text"]{
          padding-left: 5px;
          width: 194px;
          &:not(:nth-of-type(2)) {
            margin: 18px 0px 0 16px;            
          };
        };
        &:nth-of-type(3) {
          margin-top: 28px;
          margin-bottom: 14px;
        }
        &:nth-of-type(4) {
          margin-left: 58px;
        }
        &:nth-of-type(5) {
          margin-left: 64px;
        }
      }
      &:nth-of-type(4) {
        td {
          padding-top: 16px;
          padding-bottom: 16px;
          div.input-group {
            width: 608px;
          }
        }
        span.glyphicon-calendar:before {
          content: url("../image/calendar.png");
        }
        input[type="text"] {
          margin-left: 28px;
          width: 528px;
          @include border-radius(3px);
          & + span {
            background-color: #f3efe9;
            @include border-radius(5px);
            border: 2px solid #dfd2c3;
          }
          & ~ span.input-group-addon {
            background-color: #f3efe9 !important;
            @include border-radius(5px);
            border: 2px solid #dfd2c3 !important;
          } 
        }
      };
      &:nth-of-type(5) {
        label {
          margin-left: 60px;
          &:nth-of-type(2) {
            margin-left: 80px;
          };  
        }
        td:first-child {
          padding-top: 20px;
          padding-bottom: 20px;
        }
      };
      &:nth-of-type(6) {
        td {
          padding-top: 20px;
          padding-bottom: 20px;
        };
        label {
          margin-left: 60px;
          &:nth-of-type(2) {
            margin-left: 80px;
          };
          &:nth-of-type(3) {
            margin-left: 70px;
          };
        }
      };
      &:nth-of-type(7) {
        td:first-child {
          padding-top: 22px;
          padding-bottom: 40px;
        };
        input[type="text"]{
          width: 80px;
          &:first-child {
            margin-left: 30px;
            & + span {
              margin-left: 8px;
              margin-right: 8px;
              font-weight: bold;
            }  
          }
        }
        button.btn-search-address {
          margin-left: 38px;
          background-color: #f3efe9;
          border: 2px solid #e4dbce;
          @include border-radius(3px);
          padding: 8px 32px;
          color: #846445;
          font-size: 12px;
          line-height: 12px;
        }
        span {
          font-size: 11px;
        }
        span.exemple {
          display: inline-block;
          padding-top: 8px;
          margin-left: 30px;
          margin-right: 10px;
        }
        span:nth-of-type(3) {
          margin-right: 20px;
        }
      };
      &:nth-child(8) {
        td:first-child {
          padding-top: 22px;
          padding-bottom: 22px;
        };
        td:last-child {
          position: relative;
          span:after {
            
          }
        }
        select {
          -webkit-appearance: none;
          background: url("../image/arrow.png") no-repeat right; 
          background-position: 510px 10px; 
          width: 530px;
          height: 32px;
          margin: 10px 0 10px 28px;
          border: 1px solid #c2ada3;
          @include border-radius(3px);
          background-color: #fff;
          padding-left: 5px;
        }
      };
      .input-type {
        margin: 12px 0 12px 28px;
        width: 530px;
        padding-left: 10px;
      }
      &:nth-last-of-type(3) {
        input[type="text"] {
          margin: 10px 0 10px 28px;
        };
        p {
          margin-left: 28px;
          margin-bottom: 12px;
        }
        span:nth-of-type(1) {
          margin-left: 6px;
        };
        span:nth-of-type(2) {
          margin-left: 22px;
          margin-right: 6px;
        }
      };
      &:nth-last-of-type(2) {
        td {
          padding-top: 24px;
        }
        td:last-child {
          padding-left: 58px;
        };
        .left-checkbox,.right-checkbox {
          width: 36%;
          float: left;
          label {
            display: block;
            margin-bottom: 16px;
            color: #333;
            font-size: 13px;
            &:last-child{
              margin-bottom: 22px;
            };
          }
        }
        p {
          margin-left: -28px;
        }
      };
      &:nth-last-of-type(1) {
        td {
          padding-top: 18px;
          padding-bottom: 18px;
        }
        label {
          margin-left: 58px;
        }
      };
    }
  }
}
div.alert-bottom {
  background-color: #ffe9ea;
  margin-top: 22px;
  p {
    color: #cb141a;
    font-weight: bold;
    padding: 5px 16px;
  }
}
div.spark-btn-update {
  width: 583px;
  margin: 0 auto;
  margin-top: 36px;
  margin-bottom: 58px;
  button {
    width: 280px;
    height: 42px;
    font-weight: bold;
    @include border-radius(5px);
    &:first-child {
      background-color: #f3efe9;
      border: 2px solid #e4dbce;
      color: #936945;
      margin-right: 17px;
    };
    &:last-child {
      background-color: #e0f2b6;
      border: 2px solid #b4d46e;
      color: #637c30;
    };
  };
}
footer{
  border-top: 2px solid #c7000b;
  background-color: #f3efe9;
  position: relative;
  h4 {
    padding-top: 25px;
    padding-bottom: 7px;
    border-bottom: 1px solid #936945;
    color: #936945;
  }
  .epark-href {
    ul {
      list-style: none;
      padding: 0;
      text-align: center;
      li {
        display: inline-block;
        font-size: 12px;
        padding: 0 3px;
        border-right: 1px solid #936945;
        line-height: 12px;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          border-right: none;
        };
        a {
          color: #936945;
        }
      }
    }
  }
  p:nth-of-type(1) {
    margin-top: 22px;
    text-align: center;

    a {
      color: #936945;
      padding: 0 3px;
      border-right: 1px solid #936945;
      line-height: 18px;
      &:last-child{
        border-right: none;
      };
    }
  }
  p:nth-of-type(2) {
    text-align: center;
    margin: 26px auto;
    color: #936945;
  }
  #page-top {
    position: absolute;
    right: 120px;
    bottom: 200px;
  }
}
#page-top {
  width: 60px;
  height: 60px;
  background: rgb(147,105,69) url("../image/up-narrow.png") no-repeat;
  background-position: 50% 35%;
  border-radius: 50%;
  position: relative;
  &:hover{
    cursor: pointer;
  }
  span {
    text-transform: uppercase;
    font-family: arial;
    font-size: 12px;
    color: white;
    position: absolute;
    top: 33px;
    margin-left: -1px;
    font-weight: bold;
  }
}
.alert{
  width: 530px;
  margin-left: 30px;
  display: none;
}

