
.wrap-container {
  width: 100%;
  margin: 0 auto;
}
.container {
    width: calc(100% - 40px);
    padding: 0;
  }
header {
  border-bottom: 2px solid #c3000b;
  background: url("../image/background.png") no-repeat;
  background-size: 100% 100%;
  .epark-logo {
    margin: 24px 0;
    width: 25%;
  }
  .right-header {
    float: right;
    margin-top: 39px;
    margin-right: 20px;
    ul {
      list-style: none;
      margin: 0;
      li {
        display: inline-block;
        &:first-child {
          margin-right: 14px;
          button {
            border: none;
            background: url('../image/cart.png') no-repeat;
            padding: 18px 26px;
          }
        };
        &:last-child {
          button {
            border: none;
            background: url('../image/login.png') no-repeat;
            padding: 17px 17px;
          };
        }
      }
    }
  }  
}
@media screen and (min-width: 541px) {
  .nickname-class div.round-radio label[for="name2"] {
    padding-top: 8px;
    & + div.check {
      top: -80px;
    }
  }
} 
@media screen and (min-width: 653px) {
  .nickname-class div.round-radio label[for="name2"] {
    padding-top: 20px;
    & + div.check {
      top: -60px;
    }
  }
}
@media screen and (max-width: 599px) and (min-width: 320px) {
  header {
    div.right-header {
      margin-top: 24px;
      margin-right: 0px;
      ul {
        li:first-child {
          margin-right: 2px;
        }
      }
    }
    div.right-header {
      ul.epark-right-menu {
        button {
          background-size: 90% 90%;
          padding: 14px 15px;
        }
      }
    }
  }
  section.wrap-container {
    span.back-arrow {
      margin-top: 10px;
      background-size: 50%; 
    }
    a.back-href {
      font-size: 16px;
      margin-top: 20px;
      width: 50px;
      & + h1 {
        font-size: 16px;margin-top: 22px;
        margin-left: 36.33333%;
        width: 38%;
      }
    }
    div.title-head {
      height: 54px;
      h1 {
        font-size: 15px;
        margin-top: 21px;
      }
      button.pancil {
        height: 28px;
        width: 66px;
        font-size: 12px;
        margin-top: 14px;
        span {
          margin-left: 3px;
          margin-top: 3px;
          background-position: 6px;
        }
      }
    }
  }
}
.clear-both {
  clear: both;
}
section {
  span.back-arrow {
      display: block;
      width: 20px;
      height: 40px;
      margin-top: 20px;
      float: left;
      margin-top: 30px;
      background: url("../image/back.png") no-repeat center;
    };
  .back-href {
    display: block;
    width: 80px;
    float: left;
    color: #916a41;
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 32px;
    margin-left: 12px;
    & + h1 {
      margin-top: 32px;
      width: 50%;
      font-size: 30px;
      margin-left: 33.333333%;
      color: #333;
    }
  }
  .title-head {
    height: 74px;
    border-top: 4px solid #916a41;
    border-bottom: 4px solid #916a41;
    h1 {
      font-size: 30px;
      margin-top: 24px;
      color: #333;
      float: left;
    }
    button.pancil {
      float: right;
      margin-top: 22px;
      margin-bottom: 8px;
      width: 86px;
      height: 38px;
      border: none;
      background-color: #916a41;
      border-radius: 5px;
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      padding: 0;
      span {
        background: url('../image/pencil.png') left no-repeat;
        display: inline-block;
        width: 86px;
        height: 18px;
        margin-top: 4px;
        margin-left: 10px; 
      }
    }
  }
}

.bor-gray {
  border: 1px solid #a8a8a8;
  border-radius: 5px;
}
.info-detail {
  width: 93.33333333%;
  p.title-p {
    color: #888;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 4px;
  }
  .name-register {
    width: 100%;
  }
  .head-name-register {
    width: 100%;
  }
  .detail-name {
    width: 48.214285%;
  }
  .round-radio {
    width: 100%;
    height: 78px;
    @extend .bor-gray;
    border-radius: 5px;
  }
  .round-radio-short {
    width: 45.5%;
    height: 78px;
    @extend .bor-gray;
  }
  margin: 0 auto;
  .name-register {
    margin-top: 28px;
    & > p {
      font-size: 22px;
      color: #888;
      margin-bottom: 20px;
      font-weight: bold;
    }
    .head-name-register {
      margin-bottom: 18px;
      .detail-name {
        display: inline-block;
        float: left;
        &:not(:last-child) {
          margin-right: 3.39285714%;
        }
        span {
          color: #888;
          font-size: 22px;
        }
        input {
          width: 100%;
          height: 78px;
          @extend .bor-gray;
          font-size: 34px;
          color: #555;
        }
      }
    }
  }
}
@media screen and (max-width: 599px) and (min-width: 320px) {
  div.info-detail {
    div.name-register {
      input[type="text"].input-name {
        height: 40px;
        margin-bottom: 10px;
      }
      & div.head-name-register:not(:nth-of-type(1)) {
        input[type="text"].input-name {
          margin-bottom: 0;
        }
      };
    }
    div.nickname-class {
      div.round-radio {
        height: 40px;
        margin-bottom: 10px;
        label {
          padding: 0;
          padding-top: 12px;
          padding-left: 44px;
          font-size: 12px;
          & + div.check {
            top: -23px;
          }
        }
      }
      div.round-radio:not(:nth-of-type(1)) {
        margin-bottom: 0;
        & + label {
          margin-bottom: 4px;
          margin-top: 6px;
        }
      }
      input.input-nickname {
        height: 40px;
      }
    }
    div.birth-day {
      input[type="text"] {
        height: 40px;
        & + span {
          background-size: 24px;
          border: 3px solid #ded3c2;
          width: 60px;
        }
      }

    }
  }
  .gender-info div.green-radio input[type="radio"] + label {
    padding-left: 44px;
  }
  div.contact-info div.round-radio label[for] {
    padding-left: 44px;
  }
  div.suite-guide-info div.round-checkbox label[for] {
    padding-left: 44px;
  }
}
.nickname-class {
  margin-top: 38px;
  p {
    margin-bottom: 16px;
  }
  input[type="text"] {
    width: 100%;
    height: 78px;
    @extend .bor-gray;
    font-size: 34px;
  }
  div.round-radio {
    margin-bottom: 18px;
  }
  label {
    font-size: 22px;
    color: #888;
    font-weight: 400;
  }
}
.birth-day {
  margin-top: 40px;
  input[type="text"] {
    height: 78px;
    font-size: 12px;
    @extend .bor-gray;
    border-radius: 5px !important;
    font-size: 34px;
    margin-right: 26px;
    & ~ span.input-group-addon {
      background-color: #f3efe9;
      width: 21.25%;
      border: 5px solid #ded3c2;
      border-radius: 5px;
      background: url("../image/calendar.png") no-repeat center;
    }
    & + span.input-group-addon:last-child:focus {
      background: red;
    }
    &.form-control {
      margin-right: 0;
      width: 95.238%;
    }
  }
  div.input-group {
    width: 100%;
  }
}
.gender-info {
  margin-top: 38px;
  div.round-radio-short {
    div.check {
    }
    display: inline-block;
    width: 48.2142%;
    &:last-of-type {
      float: right;
    };
  }
}
.contact-info {
  margin-top: 40px;
  div.round-radio:not(:last-of-type) {
    margin-bottom: 20px;
  }
}
.post-code {
  margin-top: 30px;
  input[type="text"] {
    width: 28.57%;
    height: 78px;
    @extend .bor-gray;
    font-size: 34px;
    float: left;
  }
  span {
    display: inline-block;
    margin: 0 2.5%;
    float: left;
    margin-top: 29px;
    font-size: 20px;
    color: #836442;
  }
  button {
    width: 28.57%;
    height: 78px;
    padding-top: 14px;
    border: 5px solid #e4dbcd;
    background-color: #f3efe9;
    border-radius: 5px;
    float: right;
  }
  p:last-of-type {
    margin-top: 20px;
    color: #916a41;
    font-size: 22px;
  }
}
@media screen and (max-width: 599px) and (min-width: 320px) {
  section div.info-detail {
    div.name-register {
      margin-top: 9px;
      p {
        margin-bottom: 4px;
      }
    }
    div.nickname-class, div.contact-info, div.birth-day, div.gender-info, div.post-code, div.address-info, div.phone-info, div.suite-guide-info, div.receive-mail-info{
      margin-top: 16px;
    }
  }
  div.btn-register {
    margin-top: 24px;
  }
  .gender-info {
    div.round-radio-short {
      height: 40px;
      label[for] {
        font-size: 12px;
        padding-top: 12px;
        & + div.check {
          top: -44px;
        }
      }
    }
  }
  div.post-code {
    position: relative;
    input[type="text"] {
      height: 40px;
    }
    button {
      height: 40px;
      font-size: 12px;
      color: #836442;
      padding: 0;
      border: 3px solid #e4dbcd;
    }
    p.p-note {
      font-size: 12px;
      margin-top: 8px;
    }
    span {
      margin-top: 8px;
    }
  }

  div.contact-info {
    div.round-radio {
      height: 40px;
      label[for] {
        padding-top: 12px;
        font-size: 12px;
        & + div.check {
          top: -44px;
        }
      }
    }
    div.round-radio:not(:last-of-type) {
      margin-bottom: 10px;
    }
  } 
}
.both-clear {
  clear: both;
}
.address-info {
  margin-top: 50px;
  input[type="text"], select {
    width: 75%;
    height: 80px;
    @extend .bor-gray;
    font-size: 34px;
    float: right;
  }
  div.add-info-row {
    clear: both;
    margin-top: 40px;
  }
  label {
    display: inline-block;
    margin-top: 24px;
    font-size: 22px;
    color: #888;
    font-weight: normal;
  }
  select {
    background-color: #fff;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: url("../image/arrow.png") no-repeat;
    background-position: 94% 50%;
  }
}
@media screen and (max-width: 599px) and (min-width: 320px) {
  .address-info {
    label {
      font-size: 12px;
      width: 24%;
    }
    select {
      height: 40px;
      background-size: 6%;
    }
    div.add-info-row {
      margin-top: 16px;
      input[type="text"] {
        height: 40px;
      }
      label {
        margin-top: 10px;
      }
    }
  }
  .birth-day input[type="text"] {
    font-size: 20px;
  }
  .phone-info {
    input[type="text"].input-phone {
      height: 40px;
      & + span {
        font-size: 12px;
        margin-top: 8px;
      }
    }
  }
  div.suite-guide-info {
    div.round-checkbox {
      height: 40px;
      label[for] {
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 12px;
        & + div.tick-checkbox {
          width: 15px;
          height: 15px;
          border-radius: 4px;
          top: -34px;
        }
      }
      input[type="checkbox"] {
        &:checked {
          & ~ div.tick-checkbox{
            background-size: 76%;
          };
        };
      }
    }
  }
}
@media screen and (max-width: 365px) and (min-width: 320px) {
  div.info-detail div.nickname-class div.round-radio:last-of-type label {
    padding-top: 3px;
    & + div.check {
      top: -34px;
    }
  }
}
.phone-info {
  margin-top: 38px;
  input[type="text"] {
    width: 100%;
    height: 78px;
    @extend .bor-gray;
    margin-top: 8px;
    font-size: 34px;
  }
  span {
    display: block;
    margin-top: 18px;
    color: #916a41;
    font-size: 22px;
  }
}
.suite-guide-info {
  margin-top: 32px;
  p.title-p {
    margin-bottom: 8px;
  }
  .round-checkbox {
    width: 100%;
    height: 80px;
    @extend .bor-gray;
  }
  div.round-checkbox:not(:last-of-type) {
    margin-bottom: 10px;
  }
}
.receive-mail-info {
  margin-top: 38px;
  p.title-p {
    margin-bottom: 18px;
  }
  div.round-radio-short {
    display: inline-block;
    width: 48.214285%;
    &:first-of-type{
      margin-right: 3.5714%;
    };
    &:last-of-type {
      float: right;
    };
  }
}
@media screen and (max-width: 599px) and (min-width: 319px) {
  .receive-mail-info {
    div.round-radio-short {
      height: 40px;
      label[for] {
        font-size: 14px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 38px;
        + div.check {
          left: 13px;
          top: -34px;
        }
      }
    }
  }
  section div.btn-register {
    button {
      height: 45px;
      font-size: 13px;
      border: 2px solid red;
    }
  }
  section .btn-register button:last-of-type {
    margin-bottom: 23px;
  }
  footer div.bottom-footer {
    .row-href {
      a[href] {
        font-size: 12px;
        line-height: 12px;
      }
      &:first-of-type{
        margin-top: 15px;
        margin-bottom: 2px;
      };
    }
  }
  section .btn-register button:first-of-type {
    border: 3px solid #e4dbce;
    margin-bottom: 10px;
  }
  section .btn-register button:last-of-type {
    border: 3px solid #b3d865;
  }
  footer div.bottom-footer div.btn-register-top {
    margin-top: 10px;
    margin-bottom: 5px;
    button {
      font-size: 12px;
      height: 30px;
    }
    span {
      text-align: center;
      margin-top: 16px;
      padding-bottom: 9px;
    }
  }
  footer.wrap-container > p {
    margin: 9px;
    font-size: 12px;
  }
  footer div#to-top {
    top: -8px;
    right: 26px;
    div.span-col {
      height: 55px;
      width: 55px;
      background-position: 12px 9px;
      background-size: 60%;
      span {
        font-size: 10px;
        right: 1px; 
        top: 29px;
      }
    }
  }
  .receive-mail-info p.title-p {
    margin-bottom: 7px;
    margin-top: 16px;
  }
  div.title-head {
    h1 {
      font-size: 15px;
    }
  }
  .info-detail .name-register > p,.info-detail p.title-p,.nickname-class label,.info-detail p.title-p {
    font-size: 11px;
  }
  .info-detail .name-register .head-name-register .detail-name span {
    font-size: 11px;
    display: block;
    padding-bottom: 5px;
  }
  section.wrap-container a.back-href + h1 {
    font-size: 15px;
  }
  .birth-day input[type="text"] {
    font-size: 15px;
  }
  .receive-mail-info div.round-radio-short label[for] {
    font-size: 12px;
  }
}
.btn-register {
  margin-top: 48px;
  button {
    display: block;
    width: 98.3333333%;
    height: 90px;
    border-radius: 5px;
    font-size: 26px;
    font-weight: bold;
    &:first-of-type{
      border: 5px solid #e4dbce;
      background-color: #f3efe9;
      margin-bottom: 20px;  
      color: #826444;
    };
    &:last-of-type{
      border: 5px solid #b3d865;
      background-color: #e0f5b2;
      color: #627e28;
      margin-bottom: 46px;
    };
    
  }
}
footer {
  position: relative;
  border-top: 2px solid #c3000b;
  p {
    margin: 18px;
    font-size: 18px;
    color: #916a41;
  }
  .line {
    content: '';
    height: 1px;
    background-color: #916a41;
  }
  .bottom-footer {
    background-color: #f3efe9;
    .row-href {
      text-align: center;
      a {
        display: inline-block;
        font-size: 24px;
        color: #916a41;
        padding: 0 2.85714%;
        line-height: 24px;  
        &:not(:last-of-type){
          border-right: 1px solid #916a41;
        };
      }

      &:first-of-type{
        margin-top: 50px;
        margin-bottom: 24px;
      };
    }
    .btn-register-top {
      margin-top: 50px;
      button {
        display: block;
        margin: 0 auto;
        width: 80%;
        height: 60px;
        border: none;
        border-radius: 5px;
        background-color: #c3000b;
        font-size: 24px;
        color: #fff;
      }
      span{
        display: block;
        width: 280px;
        margin: 0 auto;
        margin-top: 26px;
        padding-bottom: 18px;
        font-size: 8px;
        color: #916a41;
      }
    }
  }
  #to-top {
    &:hover {
      cursor: pointer;
    };
    position: absolute;
    top: -20px;
    right: 20px;
    div.span-col {
      position: relative;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: url("../image/up-narrow.png") center no-repeat;
      background-color: #916a41;
      background-position: 32px 20px;
      span {
        display: block;
        position: absolute;
        color: #fff;
        top: 50px;
        right: 16px;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
    
    
  }
}
@media screen and (max-width: 365px) and (min-width: 349px) {
  div.info-detail div.nickname-class div.round-radio:last-of-type label {
    padding-top: 12px;
    & + div.check {
      top: -22px;
    }
  }
}
div.green-radio {
  .check {
    display: block;
    position: relative;
    border: 2px solid #ddd;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    top: -53px;
    left: 14px;
    z-index: -5;
  }  
  input[type="radio"] {
    display: none;
    & + label {
      display: block;
      padding: 22px 0;
      padding-left: 64px;
      color: #777;
      font-size: 24px;
      letter-spacing: -1px;
      font-weight: normal;
      &:hover {
        cursor: pointer;
      };
    }
    &:checked ~ .check{
      border: 2px solid #8ec21f;
      &:before{
        content: '';
        position: absolute;
        width: 8px;
        height: 8px;
        background-color: #8ec21f;
        border-radius: 50%;
        top: 2px;
        right: 2px;
      };
    };
  }
}
.round-checkbox {
  input[type="checkbox"] {
    display: none;
    & + label {
      padding: 24px 0;
      padding-left: 64px;
      color: #777;
      font-size: 24px;
      font-weight: normal;
    }
    & ~ .tick-checkbox {
      position: relative;
      width: 30px;
      height: 30px;
      background-color: #ddd;
      border-radius: 5px;
      top: -64px;
      left: 18px;
      z-index: -1;
    }
    &:checked {
      & ~ .tick-checkbox {
        background: #8ec21f url("../image/tick.png") center no-repeat;
      }
    };
  }
}
input[type="radio"], input[type="checkbox"] {
  & + label:hover{
    cursor: pointer;  
  };
}
@media screen and (min-width: 600px) {
  div.green-radio .check {
    width: 30px;
    height: 30px;
    top: -60px;
    left: 20px;
    border: 4px solid #ddd;
  }
  div.green-radio input[type="radio"]:checked ~ .check {
    border: 4px solid #8ec21f;
  }
  div.green-radio input[type="radio"]:checked ~ .check:before {
    width: 15px;
    height: 15px;
    top: 3px;
    left: 4px;
  }
  footer .bottom-footer .btn-register-top span {
    font-size: 16px;
  }
}
@media screen and (min-width: 520px) and (max-width: 639px) {
  header div.right-header {
    margin-top: 30px;
    ul.epark-right-menu {
      padding-left: 0;
      margin-right: 20px;
      button {
        background-size: 100% 100%;
      }
      li:first-child {
        margin-right: 10px;
      }
    }
  }
}